PORT=3000
NODE_ENV=development
JWT_SECRET=pharma_nature_jwt_secret_dev_key_2026
MONGO_URI=mongodb://localhost:27017/parashop
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
